<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <!-- Header content -->
    </header>

    <main >
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
